body {
    background: #0f0f0f;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background: #111;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #6c47ff;
}

header h1 {
    margin: 0;
    font-size: 26px;
    letter-spacing: 1px;
    color: #6c47ff;
}

.container {
    padding: 20px;
    max-width: 550px;
    margin: auto;
    background: #151515;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #000;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 16px;
}

select, input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #fff;
}

.result-box {
    background: #1f1f1f;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    display: none;
    border: 1px solid #6c47ff;
}

.btn {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #6c47ff;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    border: none;
    transition: 0.3s;
}

.btn:hover {
    background: #5633ff;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
    color: #777;
}
